.noob-carousel-switch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:-20px;
}

.noob-carousel-switch {
    width: 20px;
    height: 3px;
    border-radius: 8px;
    background-color: black;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.noob-carousel-switch-inital {
    width: 15px;
    background-color: grey;
}

.noob-carousel-switch-cur {
    animation: shrink 0.5s linear forwards;
    background-color: grey;
}

.noob-carousel-switch-last {

    animation: stretch 0.5s linear forwards;
}

@keyframes stretch {
    0% {
        width: 15px;
    }

    100% {
        width: 20px;
    }
}

@keyframes shrink {
    0% {
        width: 20px;
    }

    100% {
        width: 15px;
    }
}