.noob-carousel-switch-container-h {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.noob-carousel-switch-container-v {
    display: flex;
    width: 3px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}

.noob-carousel-switch-bottom {
    top: -10%;
}

.noob-carousel-switch-top {
    top: -90%;
}

.noob-carousel-switch-left {
    float: left;
}

.noob-carousel-switch-right {
    float: right;
    right: 20px;
}

.noob-carousel-switch-h {
    width: 1.5em;
    height: 3px;
    border-radius: 8px;
    background-color: black;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.noob-carousel-switch-v {
    height:1.5em;
    width: 3px;
    border-radius: 8px;
    background-color: black;
    margin: 0 10px 0 10px;
    cursor: pointer;
    z-index: 3;
}

.noob-carousel-switch-inital-h {
    width: 1em;
    background-color: grey;
}

.noob-carousel-switch-inital-v {
    height: 1em;
    background-color: grey;
}

.noob-carousel-switch-cur-h {
    animation: shrink-h 0.5s linear forwards;
    background-color: grey;
}

.noob-carousel-switch-cur-v {
    animation: shrink-v 0.5s linear forwards;
    background-color: grey;
}

.noob-carousel-switch-last-h {
    animation: stretch-h 0.5s linear forwards;
}

.noob-carousel-switch-last-v {
    animation: stretch-v 0.5s linear forwards;
}

@keyframes stretch-h {
    0% {
        width: 1em;
    }

    100% {
        width: 1.5em;
    }
}

@keyframes shrink-h {
    0% {
        width: 1.5em;
    }

    100% {
        width: 1em;
    }
}


@keyframes stretch-v {
    0% {
        height: 1em;
    }

    100% {
        height: 1.5em;
    }
}

@keyframes shrink-v {
    0% {
        height: 1.5em;
    }

    100% {
        height: 1em;
    }
}