.menuItemContainer {
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    &:hover>.opacityContainer {
        display: flex;
    }

    span {
        white-space: nowrap;
    }

    &:hover {
        border-bottom: 2px solid #1890ff;

        .title {
            color: #1890ff;
        }
    }
}

.opacityContainer {
    position: absolute;
    top: 41px;
    // display: none;
    display: flex;
    align-items: flex-start;
    // &:hover {
    //     display: block;

    //     >.subContainer {
    //         display: block;
    //     }

    //     +.menuItemContainer {
    //         border-bottom: 2px solid #1890ff;
    //     }
    // }



}

.subContainer {
    box-shadow: 0 1.5px 10px rgb(163, 162, 162);
    // position: absolute;
    // display: none;
    position: relative;

    &:hover {
        display: block;
    }
}

.subMenuItem {
    padding: 7px 30px 7px 30px;

    &:hover {
        color: #1890ff;
    }

    span {
        text-align: center;
    }
}

.subMenuContainer {
    position: relative;
    box-shadow: 0 1.5px 5px rgb(163, 162, 162);
}