.menuItemContainer {
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    &:hover>.opacityContainer {
        display: flex;
    }

    span {
        white-space: nowrap;
    }

    &:hover {
        border-bottom: 2px solid #1890ff;

        .title {
            color: #1890ff;
        }
    }


}

.opacityContainer {
    position: absolute;
    top: 41px;
    display: flex;
    left: 0px;
    align-items: flex-start;
}

.beforeElement {
    &::before {
        content: " ";
        display: block;
        height: 8px;
        opacity: 0;
    }
}

.subMenuItem {
    padding: 7px 0px 7px 30px;
    position: relative;
    margin: 2px 0 2px 0;
    height: 30px;
    line-height: 30px;
}

.hasChildren::after {
    content: ">";
    padding: 0 15px 0 50px;
    float: right;
}

.noChildren::after {
    content: "";
    padding: 0 15px 0 58px;

}

.subMenuContainer {
    position: relative;

    .flexContainer {
        display: flex;
        flex-direction: row;

        &::before {
            content: " ";
            display: block;
            width: 5px;
            height: 100%;
            opacity: 0;
        }
    }
}

.shadowContainer {
    box-shadow: 0 1.5px 10px rgb(163, 162, 162);
    padding: 2px 0;
}