.menuItemContainer-horizontal {
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    span {
        white-space: nowrap;
    }

    &:hover {
        transition: border 0.1s;
        border-bottom: 2px solid #1890ff;

        .title {
            color: #1890ff;
            transition: 0.2s;
        }
    }
}



.opacityContainer-horizontal {
    position: absolute;
    display: flex;
    align-items: flex-start;
    transform: translateY(9px);
}


.beforeElement-horizontal {
    &::before {
        content: " ";
        display: block;
        height: 8px;
        opacity: 0;
    }
}


.subMenuItem-horizontal {
    padding: 7px 0px 7px 30px;
    position: relative;
    margin: 2px 0 2px 0;
    height: 30px;
    line-height: 30px;
    transition: 0.2s;
}


.hasChildren-horizontal::after {
    content: ">";
    padding: 0 15px 0 50px;
    float: right;
}


.noChildren-horizontal::after {
    content: "";
    padding: 0 15px 0 58px;

}


.subMenuContainer-horizontal {
    position: relative;

    .flexContainer-horizontal {
        display: flex;
        flex-direction: row;

        &::before {
            content: " ";
            display: block;
            width: 5px;
            height: 100%;
            opacity: 0;
        }
    }
}



.shadowContainer-horizontal {
    box-shadow: 0 1.5px 10px rgb(163, 162, 162);
    padding: 2px 0;
}